@charset "UTF-8";

*{
    font-family: sans-serif;

}

header{
    background-image: linear-gradient(#FCB14E, #F4C87E);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.103);
    padding: 20px 5%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1{
    letter-spacing: 7px;
    font-size: 2em;
    text-decoration: underline;
    margin: 0;
    text-align: center;
}

header p{
    font-size: 0.8em;

    text-align: center;
}

header ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;

}

header ul li{
    font-size: 0.9em;
}

body{
    background-image: linear-gradient(#53B3E6, #4EB1D9, #D3F3FE, #FBF9EC);
    background-attachment: fixed;
}

main section{
    padding: 60px 10%;
    text-align: center;
}

main h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 8px;
}

main p{
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

.cupom{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 20px;
    border: 2px dashed #D29D41;
}

.parceria{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 10px;
    background-image: url(imagens-prototipo/definitivo.webp);
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    color: darkblue;
}